body {
    background-color: #101426;
    color: white;
}
html {
    scroll-behavior: smooth
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-top: 140px;
    margin-left: 20px;
}
.navMenu {
    position: absolute;
    top: 3%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: inline;
    gap: 20px;
    padding: 13px;
    width: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navMenu a:hover {
    color: red;
}
.intro h1 {
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}
img {border-radius: 50%;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.intro h3 {
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', monospace;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.top-text {
    text-align: center;
    font-size: 18px;
}

.text-center { text-align: center; }
.typing { color: #fff; }

.name {
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.text p{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.social-icon { 
    color: #fff; 
    font-size: 50px !important; 
    transition: all 167ms ease-in-out;
    cursor: pointer;
}

.social-icon:hover {
    color: darkgray;
}
.about {
    margin-top: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 18px;
}
.footer {
    bottom: 0px;
    margin-top: 250px;
    background-color: #101426;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
}
@media only screen and (max-width: 768px) {
    .navp a{
        display: none;
    }
    .navMenu {
        display: flex;
    }
    .navMenu a {
        display: inline-block;
    }
    .navMenu a {
        float: none;
        display: block;
        text-align: center;
    }
    #soe {
        display: none;
    }
}